body {
color:#EAF6F6;
background-color:#EAF6F6;
margin:0;
text-align:center;
font-color:green;
}
.name {
color:#0A4D68;
font-family:harlow solid;
font-size:90px;
width:50%;
margin:0 auto 0 auto;
position:absolute;
top:12%;
left:25%;
}
.first {
color:#0A4D68;
font-size:200%;
font-family:harlow solid;
position:absolute;
margin:0 auto 0 auto;
top:27%;
left:43%;
}
.mountain {
length:30%;
width:100%;
}
.gaurav-img{
width:40%;;
border-radius:50%;
float:left;
margin-right:40px;

}
.java-img{
width:40%;
border-radius:50%;
float:right;
margin-left:40px;
}
.text {
color:#0A4D68;
font-size:150%;
}
.intro{
width:50%;
margin:150px auto 200px auto;
text-align:left;

}
.skill {

width:50%;
margin:100px auto 100px auto;
text-align:left;
}

h1 {
color:#0A4D68;
}
.header{
color:#0A4D68;
font-family:harlow solid;
width:60%;
font-size:200%;
margin:0 auto 0 auto;
position:absolute;
top:2%;
left:50%;
position:fixed;
}
hr {
border:dotted #EAF6F6 6px;
border-bottom:none;
width:5%;
margin:100px auto 100px auto;

}
.footer{
background-color:#66BFBF;

}
.footer-text{
color:black;
font-size:200%;
}
.button {
margin:40px;
font-size:30px;
font-family:Algerian;
border-radius:10%;
background-color:#FFABAB;
}
.button:hover{
background-color:red;
}
.contect-div {
margin:200px auto auto auto;
width:50%;
}
.certificate{
width:40%;
border-radius:5%;
float:right;
margin-left:40px;

}